.lead-image-sidebar {
  .image {
    @include govuk-media-query($from: tablet) {
      float: right;
      margin: $gutter-one-third 0 $gutter $gutter;
      width: $one-third;
    }
    @include govuk-media-query($from: desktop) {
      float: none;
      margin: 0;
      width: auto;
    }
  }
  img {
    max-width: $full-width;
  }
}
