// Styles for Layouts view


.inner-block {
  padding: 0 $gutter-half;

  @include govuk-media-query($from: tablet) {
    padding: 0 $gutter;
  }

  &.floated-children {
    @extend %contain-floats;

    padding: 0;

    @include govuk-media-query($from: tablet) {
      padding: 0 $gutter-half;
    }
  }
}
